MainWindow {
    background-image: url(":/oulu.jpg");
}
Form2 {
    background-image: url(":/sunset.jpg");
}
QLabel {
min-height: 40px;
min-width: 200px;
font-size:20px;
}

QLineEdit {
background-color: lightblue;
min-height: 40px;
min-width: 200px;
font-size:20px;
}

QPushButton {
background-color: lightblue;
border-style: outset;
border-width: 2px;
border-color: black;
min-height: 60px;
min-width: 200px;
border-radius: 6px;
font-size:20px;
}
